*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
$m-light:#eece72;
$bl-dark:rgb(12, 34, 66);
.stcky-right{
    position: fixed;
display: flex;
  align-self: flex-end;
}
nav{
    // background-color:#cfa527;
    background-color: rgb(48, 47, 47);
    color: white!important;
    font-weight: 500;
    .navbar-brand{
        color: #eece72!important;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1px;
    }
    
}
.bt-ed{
    border-top: 1px solid #eece72;
}
.gl_head{
    text-align: center;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    color:rgb(26, 25, 25);
    letter-spacing: 1px;
    margin-bottom: 30px ;
    margin-top: 40px;
}
.my_gallery{
    font-family: 'Montserrat', sans-serif;
    margin-right:20px;
    .gl{
        border: transparent!important;
    }
   
    .c_title{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        span{
            padding: 5px 5px 5px 5px;
            border:1px solid rgba(128, 114, 114, 0.911);
            border-radius: 4px;
            font-size: 12px;
            font-weight: 200;
            text-decoration: none;
           cursor: pointer;
        }
       
    }
    .gl_text{
        font-size:15px;
    }
    .gl_ft_text{
        display: flex;
        font-size: 10px;
        justify-content: space-between;
        img{
            width:16px;
            height:14px;
            margin-top: 6px;;
        }
    
    }
    .gl_divide{
        margin-top: 5px;
        border-top:6px solid rgb(172, 134, 84);
     }
}
.my_profiles{
    .pr_divide{
        color:rgb(172, 134, 84)!important;}
    .pr_img{
  
        height: 40vh;
    }
    .card{
        border: none!important;
        text-align: center;
    }
    .card-title{
        text-transform: uppercase;
        font-size: 2.4em;
    }
    .card-title{
        border-bottom: 1px solid rgb(172, 134, 84)!important;
    }
    .card-text{
        font-size: 0.9em;
    }
    a{
        text-decoration: none;
    
        color:rgb(20, 25, 71);
        font-weight:500;
     
    }
    .r-icon{
        font-size: 13px;
        color: $m-light;
    }
    
}
.dt-section{
    background-color: rgb(12, 34, 66);
    padding-left: 40px;
    padding-right: 40px;
    .dt-img{
        width: 100%;
    }
    .dt-heading{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-weight: bold;
        
        align-self: center;
    h4{
        color: white;
        font-size: 18px;
        font-weight: bolder;
    }
    h2{
        color:#eece72;
        margin:6 0 8;
    }
    }
    .dt-bottom{
        margin:35px;
        h3{
            color: white;
            font-weight: bolder;
            font-size: 40px;
            text-align:center;
        }
        ul{
            color: white;
            text-transform: uppercase;
        }
    }
    .dt-lm{
        a{
            color: white;
            text-transform: uppercase;
            .r-icon{
                color: #eece72;
                font-size: 12px;
            }
            &:hover{
                text-decoration: none;
            }
        }

    }
}
.ctm-section{
    .ctm-img{
        width: 100%;
    }
    .ctm-heading{
        color:rgb(12, 34, 66);
    }
   
}
.ft-main{
    background-color: rgb(48, 47, 47);
    .ft-head{
        color:#eece72;
        margin: 30px 0px 0px 20px;
    }
    .ft-text{
        margin-left:20px;
        margin-top: 10px;
        color: white;
    }
    .ft-icon{
    text-decoration: none;
    color:rgb(212, 204, 204);
    font-size:30px;
    margin:0px 4px 0px 4px;
    }
    .ft-img{
       display: inline;
       height: auto;
       max-width: 100%;
       justify-content: left;
       img{
           position: absolute;
           margin-top: 15%;
           margin-left: 40%;
       }
    }
    .ft-text2{
        p{
            color:rgb(143, 142, 142);
        }
        h5{
            text-align: center;
            color: white;
            font-size: 14px;
            font-weight: bold;
            margin-top: 4px;
        }
        
    }
}
.ab-main{
    background-image: url('http://heather-kehoe.c21.ca/files/2021/04/Untitled-design-6-1024x683.jpg');
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: scroll;
    background-size: auto;
    .img-div{
        // margin: 40px 30px 40px 0px;
        display: flex;
        justify-content: end;
    }
    img{
        max-width: 63%;
        border: 10px solid rgb(11, 45, 85);
        margin-right:50px ;
    }
    .ct-div{
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    
    background: white;
    .ab-heading-text{
        color: #002C52;
       background: transparent;
       font-size: 1em;
    }
    .ab-heading-text2{
        font-size: 1.7em;
        margin: 0;
        padding: 0;
    }
    }
    h1{
        background-color: white;
    }
}
.ab-details{
    h1{
      color: #002C52;;
    }
    p{
        font-size: 16px;
    }
    .cd-text{
        font-size: 15px;
        text-align: center;
    }
}
.y-sections{
    background-color: $bl-dark;
    color: white;
    h4{
        text-align: center;
        color: $m-light;
    }
    p{
        text-align: center;
    }
    .tp-head{
        text-align: left;
        margin-top: 5px;
    }
    .side-space{
        margin-left:10%!important;
        margin-right: 10%!important;
    }
}
.wrap{
    .search {
        width: 100%;
        position: relative;
        display: flex;
      }
      input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
      .form-control{
        border-radius: 0;
       
        border: 1px solid rgb(136, 136, 136);
        border-right: none;
      
     
        
        
        color: #1a1a1a;
        
      }
      .form-control:focus {
        box-shadow: none;
        outline: none;
        border: 1px solid rgb(136, 136, 136);
      }
      .searchTerm {
        width: 100%;
        border-right: none;
        padding: 7px;
        height: 25px;
        outline: none;
        color: #1c1d1d;
      }
      
      .searchTerm:focus{
        color: #3a3a3a;
      }
      
      .searchButton {
        width: 40px;
        height: 38px;
        border: 1px solid #3a3a3a;
        background: #3a3a3a;
        text-align: center;
        color: #fff;
        font-weight: lighter;
        cursor: pointer;
        font-size: 20px;
      }
      
      /*Resize the wrap to see the search bar change!*/
      .wrap{
        width: 30%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
     
}
.sort-part{
    ul{
       li{
           list-style: none;
       }
    }
}
.stuck {
    // position: fixed;
    // overflow-y: scroll;
    font-family: 'Montserrat', sans-serif;
    // margin-right:20px;
    .gl{
        border: transparent!important;
    }
   
    .fa_title{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 11px;
        display: flex;
        justify-content: space-between;
       a{   color:rgba(32, 32, 32, 0.911);
            padding: 4px 4px 4px 4px;
            border:1px solid rgba(128, 114, 114, 0.911);
            border-radius: 4px;
            font-size: 9px;
            font-weight: 500;
            text-decoration: none;
           cursor: pointer;
        }
       
    }
    .gl_text{
        font-size:15px;
    }
    .fa_text{
        display: flex;
        font-size: 14px;
        justify-content: space-between;
        img{
            width:16px;
            height:14px;
            margin-top: 6px;;
        }
    
    }
    .fa_divide{
        margin-top: 5px;
        border-top:6px solid rgb(172, 134, 84);
     }
  
    // height: 74%;
    // overflow-y:scroll;
    // overflow-x:hidden;
    
}
.map-img{
    img{
        width:100%;
        height: auto;
    }

    
}

#contactus{
    .md-hide{
        background-color: $m-light;
    }
    .contact-box{
        margin:30px 20px 20px 20px;
    }
    input{
        border-radius: 50px;
    }
    textarea{
        border-radius: 20px;
    }
    .img-bg{
        background-image: url('https://heather-kehoe.c21.ca/files/2021/04/Add-a-heading-2.jpg');
        background-size: cover;
        
    opacity: 0.9;
    background-color: black;
    transition: all 1s;
    -webkit-transition: all 1s;
       
    }
}
@media only screen and (max-width: 1200px) {
    .gl_head{
        text-align: center;
        font-weight: 100;
        font-family: 'Montserrat', sans-serif;
        font-size: 2.7em;
        color:rgb(26, 25, 25);
        letter-spacing: 1px;
        margin-bottom: 30px ;
    
    }
    .my_gallery{
        font-family: 'Montserrat', sans-serif;
        margin-right:20px;
        .gl{
            border: transparent!important;
        }
        Card.Img{
            height: 10vh;
        }
        .c_title{
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 13px;
            display: flex;
            justify-content: space-between;
            span{
                padding: 3px 3px 3px 3px;
                border:1px solid rgba(128, 114, 114, 0.911);
                border-radius: 4px;
                font-size: 10px;
                font-weight: 200;
                text-decoration: none;
               cursor: pointer;
            }
            .gl_text{
                font-size:10px;
            }
           
        }
    }
    .ft-main{
        background-color: rgb(48, 47, 47);
        .ft-head{
            color:#eece72;
            margin: 30px 0px 0px 20px;
            font-size: 15px;
        }
        .ft-text{
            margin-left:20px;
            margin-top: 10px;
            color: white;
            font-size: 15px;
        }
        .ft-icon{
        text-decoration: none;
        color:rgb(212, 204, 204);
        font-size:22px;
        margin:0px 2px 0px 2px;
        }
        .ft-img{
           display: inline;
           height: auto;
           max-width: 100%;
           justify-content: left;
           img{
               position: relative;
               margin-top: 10%;
               margin-left: 26%;
           }
        }
        .ft-text2{
            p{
                color:rgb(143, 142, 142);
                font-size: 13px;
            }
            h5{
                text-align: center;
                color: white;
                font-size: 14px;
                font-weight: bold;
                margin-top: 4px;
            }
            
        }
    }
  }
  @media only screen and (max-width: 1000px) {
    
    .gl_head{
        text-align: center;
        font-weight: 100;
        font-family: 'Montserrat', sans-serif;
        font-size: 2.7em;
        color:rgb(26, 25, 25);
        letter-spacing: 1px;
        margin-bottom: 30px ;
        margin-top: 30px;
    
    }
    .my_gallery{
        font-family: 'Montserrat', sans-serif;
        margin-right:20px;
        .gl{
            border: transparent!important;
        }
        Card.Img{
            height: 10vh;
        }
        .c_title{
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 12px;
            display: flex;
            justify-content: space-between;
            span{
                padding: 3px 3px 3px 3px;
                border:1px solid rgba(128, 114, 114, 0.911);
                border-radius: 4px;
                font-size: 8px;
                font-weight: 200;
                text-decoration: none;
               cursor: pointer;
            }
           
           
        }
        .gl_text{
            font-size:12px;
        }
    }
    .ft-main{
        background-color: rgb(48, 47, 47);
        .ft-head{
            color:#eece72;
            margin: 30px 0px 0px 20px;
            font-size: 15px;
        }
        .ft-text{
            margin-left:20px;
            margin-top: 10px;
            color: white;
            font-size: 15px;
        }
        .ft-icon{
        text-decoration: none;
        color:rgb(212, 204, 204);
        font-size:22px;
        margin:0px 2px 0px 2px;
        }
        .ft-img{
           display: inline;
           height: auto;
           max-width: 100%;
           justify-content: left;
           img{
               position: relative;
               margin-top: 10%;
               margin-left: 26%;
           }
        }
        .ft-text2{
            p{
                color:rgb(143, 142, 142);
                font-size: 13px;
            }
            h5{
                text-align: center;
                color: white;
                font-size: 14px;
                font-weight: bold;
                margin-top: 4px;
            }
            
        }
    }
    .ab-main{
        background-image: url('http://heather-kehoe.c21.ca/files/2021/04/Untitled-design-6-1024x683.jpg');
        background-repeat: no-repeat;
        background-position: left center;
        background-attachment: scroll;
        background-size: auto;
        .img-div{
            // margin: 40px 30px 40px 0px;
            display: flex;
            justify-content: center;
        }
        img{
            max-width: 80%;
            border: 10px solid rgb(11, 45, 85);
            margin-left:50px ;
        }
        .ct-div{
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        
        background: white;
        .ab-heading-text{
            margin-top: 10px;
            color: #002C52;
           background: transparent;
           font-size: 1em;
        }
        .ab-heading-text2{
            font-size: 1.7em;
            margin: 0;
            padding: 0;
        }
        }
        h1{
            background-color: white;
            font-size: 2.3em;
        }
    }
    .ab-details{
        h1{
          color: #002C52;;
        }
        p{
            font-size: 16px;
        }
        .cd-text{
            font-size: 15px;
            text-align:left;
        }
    }
    .stuck {
        // position: fixed;
        // overflow-y: scroll;
        font-family: 'Montserrat', sans-serif;
        // margin-right:20px;
        .gl{
            border: transparent!important;
        }
       
        .fa_title{
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 11px;
            display: flex;
            justify-content: space-between;
            span{
                padding: 4px 3px 4px 3px;
                border:1px solid rgba(128, 114, 114, 0.911);
                border-radius: 4px;
                font-size: 8px;
                font-weight: 200;
                text-decoration: none;
               cursor: pointer;
            }
           
        }
        .gl_text{
            font-size:13px;
        }
        .fa_text{
            display: flex;
            font-size: 13px;
            justify-content: space-between;
            img{
                width:16px;
                height:14px;
                margin-top: 6px;;
            }
        
        }
        .fa_divide{
            margin-top: 5px;
            border-top:6px solid rgb(172, 134, 84);
         }
      
        // height: 74%;
        // overflow-y:scroll;
        // overflow-x:hidden;
        
    }
  }
  @media only screen and (max-width: 991px) {
    #contactus{
        .md-hide{
            background-color: $m-light;
            display: none;
        }
        input{
            border-radius: 50px;
        }
        textarea{
            border-radius: 20px;
        }
    }
  }
  @media only screen and (max-width: 940px) {
    .gl_head{
        text-align: center;
        font-weight: 100;
        font-family: 'Montserrat', sans-serif;
        font-size: 2.7em;
        color:rgb(26, 25, 25);
        letter-spacing: 1px;
        margin-bottom: 30px ;
        margin-top: 30px;
    }
    .my_gallery{
        font-family: 'Montserrat', sans-serif;
        margin-right:20px;
        .gl{
            border: transparent!important;
        }
        Card.Img{
            height: 10vh;
        }
        .c_title{
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 10px;
            display: flex;
            justify-content: space-between;
            span{
                padding: 2px 3px 2px 3px;
                border:1px solid rgba(128, 114, 114, 0.911);
                border-radius: 4px;
                font-size: 6px;
                font-weight: 200;
                text-decoration: none;
               cursor: pointer;
            }
           
           
        }
        .gl_text{
            font-size:11px;
        }
    }
   
    .ft-main{
        background-color: rgb(48, 47, 47);
        .ft-head{
            color:#eece72;
            margin: 30px 0px 0px 20px;
            font-size: 15px;
        }
        .ft-text{
            margin-left:20px;
            margin-top: 10px;
            color: white;
            font-size: 15px;
        }
        .ft-icon{
        text-decoration: none;
        color:rgb(212, 204, 204);
        font-size:22px;
        margin:0px 2px 0px 2px;
        }
        .ft-img{
           display: inline;
           height: auto;
           max-width: 100%;
           justify-content: left;
           img{
               position: relative;
               margin-top: 10%;
               margin-left: 26%;
           }
        }
        .ft-text2{
            p{
                color:rgb(143, 142, 142);
                font-size: 13px;
            }
            h5{
                text-align: center;
                color: white;
                font-size: 14px;
                font-weight: bold;
                margin-top: 4px;
            }
            
        }
    }
    #contactus{
        .md-hide{
            background-color: $m-light;
            display: none;
        }
        input{
            border-radius: 50px;
        }
        textarea{
            border-radius: 20px;
        }
    }
  }
  @media only screen and (max-width: 870px) {
    .gl_head{
        text-align: center;
        font-weight: 100;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.9em;
        color:rgb(26, 25, 25);
        letter-spacing: 1px;
        margin-bottom: 25px ;
    
    }
    .my_gallery{
        font-family: 'Montserrat', sans-serif;
        margin-right:20px;
        .gl{
            border: transparent!important;
        }
        Card.Img{
            height: 10vh;
        }
        .c_title{
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 15px;
            display: flex;
            justify-content: space-between;
            a{
                padding: 2px 3px 2px 3px;
                border:1px solid rgba(128, 114, 114, 0.911);
                border-radius: 4px;
                font-size: 11px;
                font-weight: 200;
                text-decoration: none;
               cursor: pointer;
            }
           
           
        }
        .gl_text{
            font-size:15px;
        }
      
    }
    .dt-section{
        background-color: rgb(12, 34, 66);
        
        .dt-img{
            width: 300px;
        }
        .dt-heading{
            display: flex;
            flex-direction: column;
            text-align: center;
            font-weight: bold;
            
            align-self: center;
        h4{
            color: white;
            font-size: 15px;
            font-weight: bolder;
        }
        h2{
            color:#eece72;
            margin:6 0 8;
            font-size: 25px;
        }
        }
        .dt-bottom{
            margin:35px;
            h3{
                color: white;
                font-weight: bolder;
                font-size: 30px;
                text-align:center;
            }
            ul{
                color: white;
                text-transform: uppercase;
                font-size: 14px;
            }
        }
        .dt-lm{
            a{
                color: white;
                text-transform: uppercase;
                .r-icon{
                    color: #eece72;
                    font-size: 12px;
                }
                &:hover{
                    text-decoration: none;
                }
            }
    
        }
    }
    .ctm-section{
        .ctm-img{
            width: 100%;
        }
        .ctm-heading{
            color:rgb(12, 34, 66);
            padding-top: 30px;
            p{font-size: 12px;}
        }
        .ctm-contact{
            font-size: 12px;
        }

    }
    .ft-main{
        background-color: rgb(48, 47, 47);
        .ft-head{
            color:#eece72;
            margin: 30px 0px 0px 20px;
            font-size: 13px;
        }
        .ft-text{
            margin-left:20px;
            margin-top: 10px;
            color: white;
            font-size: 13px;
        }
        .ft-icon{
        text-decoration: none;
        color:rgb(212, 204, 204);
        font-size:20px;
        margin:0px 2px 0px 2px;
        }
        .ft-img{
           display: inline;
           height: auto;
           max-width: 100%;
           justify-content: left;
           img{
               position: absolute;
               margin-top: 10%;
               margin-left: 26%;
           }
        }
        .ft-text2{
            p{
                color:rgb(143, 142, 142);
                font-size: 13px;
            }
            h5{
                text-align: center;
                color: white;
                font-size: 14px;
                font-weight: bold;
                margin-top: 4px;
            }
            
        }
    }
    .ab-main{
        background-image: url('http://heather-kehoe.c21.ca/files/2021/04/Untitled-design-6-1024x683.jpg');
        background-repeat: no-repeat;
        background-position: left center;
        background-attachment: scroll;
        background-size: auto;
        .img-div{
            // margin: 40px 30px 40px 0px;
            display: flex;
            justify-content: center;
        }
        img{
            max-width: 80%;
            border: 10px solid rgb(11, 45, 85);
            margin-left:50px ;
        }
        .ct-div{
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        
        background: white;
        .ab-heading-text{
            margin-top: 10px;
            color: #002C52;
           background: transparent;
           font-size: 1em;
        }
        .ab-heading-text2{
            font-size: 1.4em;
            margin: 0;
            padding: 0;
        }
        }
        h1{
            background-color: white;
            font-size: 2em;
        }
    }
    .stuck {
        // position: fixed;
        // overflow-y: scroll;
        font-family: 'Montserrat', sans-serif;
        // margin-right:20px;
        .gl{
            border: transparent!important;
        }
       
        .fa_title{
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 11px;
            display: flex;
            justify-content: space-between;
           a{
                padding: 2px 2px 2px 2px;
                border:1px solid rgba(128, 114, 114, 0.911);
                border-radius: 3px;
                font-size: 7px;
                font-weight: 200;
                text-decoration: none;
               cursor: pointer;
            }
           
        }
        .gl_text{
            font-size:13px;
        }
        .fa_text{
            display: flex;
            font-size: 13px;
            justify-content: space-between;
            img{
                width:16px;
                height:14px;
                margin-top: 6px;;
            }
        
        }
        .fa_divide{
            margin-top: 5px;
            border-top:6px solid rgb(172, 134, 84);
         }
      
        // height: 74%;
        // overflow-y:scroll;
        // overflow-x:hidden;
        
    }
  }
  @media only screen and (max-width: 769px) {
    .gl_head{
        text-align: center;
        font-weight: 100;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.9em;
        color:rgb(26, 25, 25);
        letter-spacing: 1px;
        margin-bottom: 25px ;
        margin-top: 40px;
    
    }
    .my_gallery{
        font-family: 'Montserrat', sans-serif;
        margin-right:20px;
        .gl{
            border: transparent!important;
        }
        Card.Img{
            height: 10vh;
        }
        .c_title{
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 14px;
            display: flex;
            justify-content: space-between;
            span{
                padding: 4px 4px 4px 4px;
                border:1px solid rgba(128, 114, 114, 0.911);
                border-radius: 4px;
                font-size: 12px;
                font-weight: 200;
                text-decoration: none;
               cursor: pointer;
            }
           
           
        }
        .gl_text{
            font-size:15px;
        }
    }
    .ft-main{
        background-color: rgb(48, 47, 47);
        .ft-head{
            color:#eece72;
            margin: 30px 0px 0px 20px;
            font-size: 13px;
        }
        .ft-text{
            margin-left:20px;
            margin-top: 10px;
            color: white;
            font-size: 12px;
        }
        .ft-icon{
        text-decoration: none;
        color:rgb(212, 204, 204);
        font-size:18px;
        margin:0px 2px 0px 2px;
        }
        .ft-img{
           display: inline;
           height: auto;
           max-width: 100%;
           justify-content: left;
           img{
               position: relative;
               margin-top: 10%;
               margin-left: 26%;
           }
        }
        .ft-text2{
            p{
                color:rgb(143, 142, 142);
                font-size: 13px;
            }
            h5{
                text-align: center;
                color: white;
                font-size: 14px;
                font-weight: bold;
                margin-top: 4px;
            }
            
        }
    }
    .ab-main{
        background-image: url('http://heather-kehoe.c21.ca/files/2021/04/Untitled-design-6-1024x683.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: scroll;
        background-size: auto;
        display: flex;
        justify-content: center;
        .img-div{
            // margin: 40px 30px 40px 0px;
            display: flex;
            justify-content: center;
        }
        img{
            max-width: 80%;
            border: 8px solid rgb(11, 45, 85);
            
           
        }
        .ct-div{
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        padding-left: 50px!important;
        max-width: 60%;
        
      position: relative;
        padding-left: 50%;
        background: white;
        .ab-heading-text{
            margin-top: 10px;
            color: #002C52;
           background: transparent;
           font-size: 1em;
        }
        .ab-heading-text2{
            font-size: 1.7em;
            margin: 0;
            padding: 0;
        }
        }
        h1{
            background-color: white;
            font-size: 2em;
        }
    }
    .ab-details{
        h1{
          color: #002C52;;
        }
        p{
            font-size: 14px;
        }
        .cd-text{
            font-size: 14px;
            text-align:left;
        }
    }
    .y-sections{
        background-color: $bl-dark;
        color: white;
        h4{
            text-align: center;
            color: $m-light;
        }
        p{
            text-align: center;
            font-size:13px;
        }
        .tp-head{
            text-align: left;
            margin-top: 5px;
        }
        .side-space{
            margin-left:3%!important;
            margin-right: 3%!important;
        }
    }
    .stuck {
        // position: fixed;
        // overflow-y: scroll;
        font-family: 'Montserrat', sans-serif;
        // margin-right:20px;
        .gl{
            border: transparent!important;
        }
       
        .fa_title{
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 10px;
            display: flex;
            justify-content: space-between;
            a{
                padding: 3px 2px 3px 2px;
                border:1px solid rgba(128, 114, 114, 0.911);
                border-radius: 2px;
                color:rgba(128, 114, 114, 0.911);
                font-size: 6px;
                font-weight: 900;
                text-decoration: none;
                cursor: pointer;            }
           
        }
        .gl_text{
            font-size:13px;
        }
        .fa_text{
            display: flex;
            font-size: 13px;
            justify-content: space-between;
            img{
                width:16px;
                height:14px;
                margin-top: 6px;;
            }
        
        }
        .fa_divide{
            margin-top: 5px;
            border-top:6px solid rgb(172, 134, 84);
         }
      
        // height: 74%;
        // overflow-y:scroll;
        // overflow-x:hidden;
        
    }
  }
  @media only screen and (max-width: 600px) {
    .gl_head{
        text-align: center;
        font-weight: 100;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.7em;
        color:rgb(26, 25, 25);
        letter-spacing: 1px;
        margin-bottom: 25px ;
        margin-top: 40px;
    
    }
    .my_gallery{
        font-family: 'Montserrat', sans-serif;
        margin-right:20px;
        .gl{
            border: transparent!important;
        }
        Card.Img{
            height: 10vh;
        }
        .c_title{
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 16px;
            display: flex;
            justify-content: space-between;
            span{
                padding: 4px 4px 4px 4px;
                border:1px solid rgba(128, 114, 114, 0.911);
                border-radius: 4px;
                font-size: 12px;
                font-weight: 200;
                text-decoration: none;
               cursor: pointer;
            }
           
           
        }
        .gl_text{
            font-size:15px;
        }
    }
    .dt-section{
        background-color: rgb(12, 34, 66);
        
        .dt-img{
            width: 100%;
        }
        .dt-heading{
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-top: 12px;
            font-weight: bold;
            
            align-self: center;
        h4{
            color: white;
            font-size: 18px;
            font-weight: bolder;
        }
        h2{
            color:#eece72;
            margin:6 0 8;
            font-size: 30px;
        }
        }
        .dt-bottom{
            margin:35px;
            h3{
                color: white;
                font-weight: bolder;
                font-size: 30px;
                text-align:center;
            }
            ul{
                color: white;
                text-transform: uppercase;
                font-size: 15px;
            }
        }
        .dt-lm{
            a{
                color: white;
                text-transform: uppercase;
                .r-icon{
                    color: #eece72;
                    font-size: 12px;
                }
                &:hover{
                    text-decoration: none;
                }
            }
    
        }
    }
    .ft-main{
        background-color: rgb(48, 47, 47);
        .ft-head{
            color:#eece72;
            margin: 30px 0px 0px 20px;
            font-size: 15px;
        }
        .ft-text{
            margin-left:20px;
            margin-top: 10px;
            color: white;
            font-size: 15px;
        }
        .ft-icon{
        text-decoration: none;
        color:rgb(212, 204, 204);
        font-size:25px;
        margin:0px 2px 0px 2px;
        }
        .ft-img{
           display: inline;
           height: auto;
           max-width: 100%;
           justify-content: left;
           img{
               position: relative;
               margin-top: 10%;
               margin-left: 26%;
           }
        }
        .ft-text2{
            p{
                color:rgb(143, 142, 142);
                font-size: 13px;
            }
            h5{
                text-align: center;
                color: white;
                font-size: 14px;
                font-weight: bold;
                margin-top: 4px;
            }
            
        }
    }
    .ab-main{
        background-image: url('http://heather-kehoe.c21.ca/files/2021/04/Untitled-design-6-1024x683.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: scroll;
        background-size: auto;
        display: flex;
        justify-content: center;
        .img-div{
            // margin: 40px 30px 40px 0px;
            display: flex;
            justify-content: center;
        }
        img{
            max-width: 58%;
            border: 8px solid rgb(11, 45, 85);
            
           
        }
        .ct-div{
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        padding-left: 50px!important;
        max-width: 80%;
        padding: top 20px !important;
        position: relative;
        padding-left: 50%;
        background: white;
        .ab-heading-text{
            margin-top: 10px;
            color: #002C52;
           background: transparent;
           font-size: 1em;
        }
        .ab-heading-text2{
            font-size: 1.8em;
            margin: 0;
            padding: 0;
        }
        }
        h1{
            background-color: white;
            font-size: 2em;
        }
    }
    .ab-details{
        h1{
          color: #002C52;;
        }
        p{
            font-size: 13px;
        }
        .cd-text{
            font-size: 13px;
            text-align:left;
        }
    }
    .y-sections{
        background-color: $bl-dark;
        color: white;
        h4{
            text-align: center;
            color: $m-light;
            font-size: 1.4em;
        }
        p{
            text-align: center;
            font-size:11px;
        }
        .tp-head{
            text-align: left;
            margin-top: 5px;
        }
        .side-space{
            margin-left:3%!important;
            margin-right: 3%!important;
        }
    }
  }
  @media only screen and (max-width: 420px) {
    .gl_head{
        text-align: center;
        font-weight: 100;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.3em;
        color:rgb(26, 25, 25);
        letter-spacing: 1px;
        margin-bottom: 25px ;
        margin-top: 40px;
    
    }
    .my_gallery{
        font-family: 'Montserrat', sans-serif;
        margin-right:10px;
        .gl{
            border: transparent!important;
        }
       
        .c_title{
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 15px;
            display: flex;
            justify-content: space-between;
            span{
                padding: 4px 4px 4px 4px;
                border:1px solid rgba(128, 114, 114, 0.911);
                border-radius: 4px;
                font-size: 10px;
                font-weight: 200;
                text-decoration: none;
               cursor: pointer;
            }
           
           
        }
        .gl_text{
            font-size:15px;
        }
    }
    .my_profiles{
        .pr_img{
      
            height: 40vh;
        }
        .card{
            border: none!important;
            text-align: center;
        }
        .card-title{
            text-transform: uppercase;
            font-size: 1.6em;
        }
        .card-title{
            border-bottom: 1px solid rgb(172, 134, 84);
        }
        .card-text{
            font-size: 0.5em;
        }
        a{
            text-decoration: none;
            text-transform: uppercase;
            color:rgb(20, 25, 71);
            font-weight:500;
            font-size: 0.8em;
        }
    }
    .dt-section{
        background-color: rgb(12, 34, 66);

        .dt-img{
           width: 100%;
            
            
        }
        .dt-heading{
            display: flex;
            flex-direction: column;
            text-align: center;
            font-weight: bold;
            
            align-self: center;
        h4{
            color: white;
            font-size: 17px;
            margin-top: 20px;
            font-weight: bolder;
        }
        h2{
            color:#eece72;
           margin-top: 10px;
        }
        }
        .dt-bottom{
            margin:35px;
            h3{
                color: white;
                font-weight: bolder;
                font-size: 20px;
                text-align:center;
            }
            ul{
                color: white;
                text-transform: uppercase;
                font-size: 11px;
            }
        }
        .dt-lm{
            a{
                color: white;
                text-transform: uppercase;
                .r-icon{
                    color: #eece72;
                    font-size: 12px;
                }
                &:hover{
                    text-decoration: none;
                }
            }
    
        }
    }
    .ft-main{
        background-color: rgb(48, 47, 47);
        .ft-head{
            color:#eece72;
            margin: 30px 0px 0px 20px;
            font-size: 13px;
        }
        .ft-text{
            margin-left:20px;
            margin-top: 10px;
            color: white;
            font-size: 13px;
        }
        .ft-icon{
        text-decoration: none;
        color:rgb(212, 204, 204);
        font-size:22px;
        margin:0px 2px 0px 2px;
        }
        .ft-img{
           display: inline;
           height: auto;
           max-width: 100%;
           justify-content: left;
           img{
               position:relative;
               margin-top: 10%;
               margin-left: 15%;
           }
        }
        .ft-text2{
            p{
                color:rgb(143, 142, 142);
                font-size: 8px;
            }
            h5{
                text-align: center;
                color: white;
                font-size: 9px;
                font-weight: bold;
                margin-top: 4px;
            }
            
        }
    }
    .ab-main{
        background-image: url('http://heather-kehoe.c21.ca/files/2021/04/Untitled-design-6-1024x683.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: scroll;
        background-size: auto;
        display: flex;
        justify-content: center;
        .img-div{
            // margin: 40px 30px 40px 0px;
            display: flex;
            justify-content: center;
        }
        img{
            max-width: 58%;
            border: 8px solid rgb(11, 45, 85);
            
           
        }
        .ct-div{
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
      
        max-width: 80%;
        margin-top: 100px;
        position: relative;
        padding-left: 50%;
        background: white;
        .ab-heading-text{
            margin-top: 10px;
            color: #002C52;
           background: transparent;
           font-size: 1em;
        }
        .ab-heading-text2{
            font-size: 1.2em;
            margin: 0;
            padding: 0;
        }
        }
        h1{
            background-color: white;
            font-size: 1.2em;
        }
    }
    .stuck {
        // position: fixed;
        // overflow-y: scroll;
        font-family: 'Montserrat', sans-serif;
        // margin-right:20px;
        .gl{
            border: transparent!important;
        }
       
        .fa_title{
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 13px;
            display: flex;
            justify-content: space-between;
           a{   color:rgba(32, 32, 32, 0.911);
                padding: 4px 4px 4px 4px;
                border:1px solid rgba(128, 114, 114, 0.911);
                border-radius: 4px;
                font-size: 11px;
                font-weight: 500;
                text-decoration: none;
                margin-bottom:3px ;
               cursor: pointer;
            }
           
        }
        .gl_text{
            font-size:15px;
        }
        .fa_text{
            display: flex;
            font-size: 15px;
            justify-content: space-between;
            img{
                width:16px;
                height:14px;
                margin-top: 6px;;
            }
        
        }
        .fa_divide{
            margin-top: 5px;
            border-top:6px solid rgb(172, 134, 84);
         }
      
        // height: 74%;
        // overflow-y:scroll;
        // overflow-x:hidden;
        
    }
  }
  @media only screen and (max-width: 375px) {
    .gl_head{
        text-align: center;
        font-weight: 100;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.3em;
        color:rgb(26, 25, 25);
        letter-spacing: 1px;
        margin-bottom: 25px ;
        margin-top: 40px;
    
    }
    .my_gallery{
        font-family: 'Montserrat', sans-serif;
        margin-right:10px;
        .gl{
            border: transparent!important;
        }
       
        .c_title{
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 15px;
            display: flex;
            justify-content: space-between;
            span{
                padding: 4px 4px 4px 4px;
                border:1px solid rgba(128, 114, 114, 0.911);
                border-radius: 4px;
                font-size: 10px;
                font-weight: 200;
                text-decoration: none;
               cursor: pointer;
            }
           
           
        }
        .gl_text{
            font-size:15px;
        }
    }
    .my_profiles{
        .pr_img{
      
            height: 40vh;
        }
        .card{
            border: none!important;
            text-align: center;
        }
        .card-title{
            text-transform: uppercase;
            font-size: 1.6em;
        }
        .card-title{
            border-bottom: 1px solid rgb(172, 134, 84);
        }
        .card-text{
            font-size: 0.5em;
        }
        a{
            text-decoration: none;
            text-transform: uppercase;
            color:rgb(20, 25, 71);
            font-weight:500;
            font-size: 0.8em;
        }
    }
    .dt-section{
        background-color: rgb(12, 34, 66);
       
        .dt-img{
            width: 100%;
           
            
        }
        .dt-heading{
            display: flex;
            flex-direction: column;
            text-align: center;
            font-weight: bold;
            
            align-self: center;
        h4{
            color: white;
            font-size: 17px;
            margin-top: 20px;
            font-weight: bolder;
        }
        h2{
            color:#eece72;
           margin-top: 10px;
        }
        }
        .dt-bottom{
            margin:35px;
            h3{
                color: white;
                font-weight: bolder;
                font-size: 20px;
                text-align:center;
            }
            ul{
                color: white;
                text-transform: uppercase;
                font-size: 10px;
            }
        }
        .dt-lm{
            a{
                color: white;
                text-transform: uppercase;
                .r-icon{
                    color: #eece72;
                    font-size: 12px;
                }
                &:hover{
                    text-decoration: none;
                }
            }
    
        }
    }
    .ft-main{
        background-color: rgb(48, 47, 47);
        .ft-head{
            color:#eece72;
            margin: 30px 0px 0px 20px;
            font-size: 13px;
        }
        .ft-text{
            margin-left:20px;
            margin-top: 10px;
            color: white;
            font-size: 13px;
        }
        .ft-icon{
        text-decoration: none;
        color:rgb(212, 204, 204);
        font-size:22px;
        margin:0px 2px 0px 2px;
        }
        .ft-img{
           display: inline;
           height: auto;
           max-width: 100%;
           justify-content: left;
           img{
               position:relative;
               margin-top: 10%;
               margin-left: 5%;
           }
        }
        .ft-text2{
            p{
                color:rgb(143, 142, 142);
                font-size: 8px;
            }
            h5{
                text-align: center;
                color: white;
                font-size: 9px;
                font-weight: bold;
                margin-top: 4px;
            }
            
        }
    }
    .ab-main{
        background-image: url('http://heather-kehoe.c21.ca/files/2021/04/Untitled-design-6-1024x683.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: scroll;
        background-size: auto;
        display: flex;
        justify-content: center;
        .img-div{
            // margin: 40px 30px 40px 0px;
            display: flex;
            justify-content: center;
        }
        img{
            max-width: 58%;
            border: 8px solid rgb(11, 45, 85);
            
           
        }
        .ct-div{
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
      
        max-width: 80%;
        margin-top: 100px;
        position: relative;
        padding-left: 50%;
        background: white;
        .ab-heading-text{
            margin-top: 10px;
            color: #002C52;
           background: transparent;
           font-size: 1em;
           h1{
            background-color: white;
            font-size: 1.1em;
        }
        }
        .ab-heading-text2{
            font-size: 1.1em;
            margin: 0;
            padding: 0;
        }
        }
      
    }  .stuck {
        // position: fixed;
        // overflow-y: scroll;
        font-family: 'Montserrat', sans-serif;
        // margin-right:20px;
        .gl{
            border: transparent!important;
        }
       
        .fa_title{
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 12px;
            display: flex;
            justify-content: space-between;
           a{   color:rgba(32, 32, 32, 0.911);
                padding: 4px 4px 4px 4px;
                border:1px solid rgba(128, 114, 114, 0.911);
                border-radius: 4px;
                font-size: 9px;
                font-weight: 500;
                text-decoration: none;
                margin-bottom:3px ;
               cursor: pointer;
            }
           
        }
        .gl_text{
            font-size:15px;
        }
        .fa_text{
            display: flex;
            font-size: 13px;
            justify-content: space-between;
            img{
                width:16px;
                height:14px;
                margin-top: 6px;;
            }
        
        }
        .fa_divide{
            margin-top: 5px;
            border-top:6px solid rgb(172, 134, 84);
         }
      
        // height: 74%;
        // overflow-y:scroll;
        // overflow-x:hidden;
        
    }
  }